a { 
    font-family: "Courier New", serif; 
    color: lightgray;
}

.bodyArtist {
    color:black;
    margin:0;

    background-color: rgb(63, 63, 63);
    background-image:url(../../ressources/old_band.jpg);
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-size: 100% 30vh;
}

.language {
    /*Background*/
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 40px;
    padding: 1%;
    background-color: rgb(24, 24, 24);
}

.bp-fr {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /**/
    
    border: none;
    border-radius: 3px;
    background-color: rgb(24, 24, 24);

}
.bp-fr:hover {
    background-color: rgb(43, 43, 43);
}

.bp-en {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /*
    
    border: none;*/
    border-radius: 2px;
    border-color: white;
    background-color: rgb(24, 24, 24);

}
.bp-en:hover {
    background-color: rgb(43, 43, 43);
}


.title {
    background-color: rgb(46, 46, 46);
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    padding: 1%;

    text-align: center;
    font-size: 200%;
    letter-spacing: 0.03em;
}

.artist { display: block; margin-top: 20vh; }

.band  {
    background-color: rgb(31, 31, 31);
    background-size: 80%;

    /*Position table*/
    margin: 7vh;
    margin-left: 12vw;
    width: 35vw;
    height: 8vw;
    

    /*Text modification*/
    text-align: center;
    color: lightgray;
    font-size: 150%;
    letter-spacing: 0.03em;

}

.band:hover { background-color: rgb(20, 20, 20); }

.band2  {
    background-color: rgb(31, 31, 31);
    background-size: 80%;

    /*Position table*/
    margin: 7vh;
    margin-left: 58vw;
    margin-top: -23vw;	
    width: 30vw;
    height: 8vw;
    

    /*Text modification*/
    text-align: center;
    color: lightgray;
    font-size: 150%;
    letter-spacing: 0.03em;

}

.band2:hover { background-color: rgb(20, 20, 20); }

.image {
    width: 200px;
    height: 200px;
    margin-left: -110px;

    /*Ajustement haut et bas*/
    margin-block-start: -20px;
    margin-block-end: -20px;
}

.bandTitle {
    font-size: 125%;
}

.desc {
    font-size: 100%;
}

.date {
    font-size: 100%;
}
