#my{ zoom: 75%; }

html {
    scrollbar-color: rgb(40, 40, 40) rgb(80, 80, 80);
    scrollbar-width: thin;
}

body {
    background-color: rgb(63, 63, 63);
}

a { font-family: "Courier New", serif; letter-spacing: 0.03em;}
a:link      { color:gray; text-decoration: none; }
a:visited   { color:gray; text-decoration: none; }
/*
a:hover     { color:rgb(90, 90, 90); text-decoration: none; }
a:active    { color:gray; text-decoration: none; }
*/
h1 {
    background-color: rgb(46, 46, 46);
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1%;

    font-family: "Courier New", serif;
    font-size: 200%;
    letter-spacing: 0.03em;
    color: lightgray;
    text-align: center;
    text-decoration: none;
}

@keyframes animBpRetour {
    0%   { width: 150px; }
    25%  { width: 175px; }
    100% { width: 150px; }
}

.bpRetour {
    float: left;
    position: absolute;
    left: 25px; top: 50px;
    width: 150px;
}

.bpRetour:hover {
    animation-name: animBpRetour;
    animation-duration: 0.66s;
}

.bp-fr {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /**/
    border: none;
    border-radius: 2px;
    background-color: rgb(24, 24, 24);

}
.bp-fr:hover {
    background-color: rgb(43, 43, 43);
}

.bp-en {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /**/
    border: none;
    border-radius: 2px;
    border-color: white;
    background-color: rgb(24, 24, 24);

}
.bp-en:hover {
    background-color: rgb(43, 43, 43);
}

.bp-fr-active {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /*
    
    border: none;*/
    border-radius: 2px;
    background-color: rgb(24, 24, 24);

}
.bp-fr-active:hover {
    background-color: rgb(43, 43, 43);
}

.bp-en-active {
    /*Text*/
    font-family: "Courier New", serif;
    font-size: 150%;
    letter-spacing: 0.03em;
    color: lightgray;

    /*
    
    border: none;*/
    border-radius: 2px;
    border-color: white;
    background-color: rgb(24, 24, 24);

}
.bp-en-active:hover {
    background-color: rgb(43, 43, 43);
}